@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        90deg, 
        rgba(0,0,0,0.9) 0%, 
        rgba(0,0,0,0) 50%, 
        rgba(0,0,0,0.9) 100%), 
        url("img/table-bg.jpg");
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: goldenrod;
    text-shadow: 0px 0px 2px #000000;
}

.win {
    background-image: linear-gradient(
        90deg, 
        rgba(0,128,0,0.5) 0%, 
        rgba(0,128,0,0.25) 50%, 
        rgba(0,128,0,0.5) 100%), 
        url("img/table-bg.jpg");
}

.lose {
    background-image: linear-gradient(
        90deg, 
        rgba(128,0,0,0.5) 0%, 
        rgba(128,0,0,0.25) 50%, 
        rgba(128,0,0,0.5) 100%), 
        url("img/table-bg.jpg");
}

#scoreDisplay {
    font-size: 72px;
}


#diceImage {
    display:none;
}

header, div {
    padding: 24px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

p, li {
    font-size: 24px;
}

ul {
    list-style-type: none;    
}

li {
    padding: 6px;
}

button {
    background: black;
    border: 1px solid goldenrod;
    color: goldenrod;
    font-family: 'MedievalSharp', cursive;
    font-size: 24px;
    padding: 6px;
}

button:hover {
    background-color: #222222;
}

#scoreSection {
    display: none;
}